#  回归

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('house_price.csv')
data

           dist  roomnum  halls    AREA   floor  subway  school  price
0      chaoyang        1      0   46.06  middle       1       0  48850
1      chaoyang        1      1   59.09  middle       1       0  46540
2       haidian        5      2  278.95    high       1       1  71662
3       haidian        3      2  207.00    high       1       1  57972
4       fengtai        2      1   53.32     low       1       1  71268
...         ...      ...    ...     ...     ...     ...     ...    ...
16205  chaoyang        3      1   76.33  middle       1       0  52405
16206  chaoyang        3      1   76.42  middle       1       0  52343
16207  chaoyang        2      1   61.79    high       1       0  50170
16208  chaoyang        1      1   42.89    high       1       0  52693
16209   fengtai        2      1   89.90  middle       1       0  46719

[16210 rows x 8 columns]

In [4]:
data.size

129680

In [5]:
data.dtypes

dist        object
roomnum      int64
halls        int64
AREA       float64
floor       object
subway       int64
school       int64
price        int64
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16210 entries, 0 to 16209
Data columns (total 8 columns):
dist       16210 non-null object
roomnum    16210 non-null int64
halls      16210 non-null int64
AREA       16210 non-null float64
floor      16210 non-null object
subway     16210 non-null int64
school     16210 non-null int64
price      16210 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 1013.2+ KB

In [7]:
data.count()

dist       16210
roomnum    16210
halls      16210
AREA       16210
floor      16210
subway     16210
school     16210
price      16210
dtype: int64

In [8]:
data1 = data.dropna()#处理缺失值
data2 = pd.get_dummies(data1[['dist','floor']])#返回处理后数据
data2

,dist_chaoyang,dist_dongcheng,dist_fengtai,dist_haidian,dist_shijingshan,dist_xicheng,floor_high,floor_low,floor_middle
0,1,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,1
2,0,0,0,1,0,0,1,0,0
3,0,0,0,1,0,0,1,0,0
4,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
16205,1,0,0,0,0,0,0,0,1
16206,1,0,0,0,0,0,0,0,1
16207,1,0,0,0,0,0,1,0,0
16208,1,0,0,0,0,0,1,0,0
16209,0,0,1,0,0,0,0,0,1

In [9]:
data3 = data2.drop(['dist_shijingshan','floor_high'],axis=1)
# pd.set_option('display.max_rows', None)   #显示行
data3

,dist_chaoyang,dist_dongcheng,dist_fengtai,dist_haidian,dist_xicheng,floor_low,floor_middle
0,1,0,0,0,0,0,1
1,1,0,0,0,0,0,1
2,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0
4,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...
16205,1,0,0,0,0,0,1
16206,1,0,0,0,0,0,1
16207,1,0,0,0,0,0,0
16208,1,0,0,0,0,0,0
16209,0,0,1,0,0,0,1

In [10]:
data4 = pd.concat([data3,data1[['roomnum','halls','AREA','subway','school','price']]],axis=1)
data4

,dist_chaoyang,dist_dongcheng,dist_fengtai,dist_haidian,dist_xicheng,floor_low,floor_middle,roomnum,halls,AREA,subway,school,price
0,1,0,0,0,0,0,1,1,0,46.06,1,0,48850
1,1,0,0,0,0,0,1,1,1,59.09,1,0,46540
2,0,0,0,1,0,0,0,5,2,278.95,1,1,71662
3,0,0,0,1,0,0,0,3,2,207.00,1,1,57972
4,0,0,1,0,0,1,0,2,1,53.32,1,1,71268
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16205,1,0,0,0,0,0,1,3,1,76.33,1,0,52405
16206,1,0,0,0,0,0,1,3,1,76.42,1,0,52343
16207,1,0,0,0,0,0,0,2,1,61.79,1,0,50170
16208,1,0,0,0,0,0,0,1,1,42.89,1,0,52693
16209,0,0,1,0,0,0,1,2,1,89.90,1,0,46719

In [11]:
X = data4.iloc[:,:-1]
y = data4.iloc[:,-1:]
from sklearn.model_selection import train_test_split#将矩阵随机划分为训练子集和测试子集
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1,test_size=0.3)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((11347, 12), (4863, 12), (11347, 1), (4863, 1))

In [17]:
from sklearn.linear_model import LinearRegression#调用sklearn中的线性回归
model = LinearRegression().fit(X_train,y_train)
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))#打分

0.5951474353656091
0.5973821017736753

In [18]:
model.predict([[1,0,0,0,0,0,1,1,0,46.06,1,0]])#测试数据

array([[47585.65630181]])

In [159]:
model.coef_#显示塞塔

array([[ 8565.97492171, 25018.66184592,  1311.92217239, 21889.54742332,
        37534.34029369,  1853.62285244,  1359.38632461,   985.67185048,
         4098.44682352,   -52.97533731,  6793.8762208 , 11802.57031078]])

In [160]:
model.intercept_#截距

array([32320.79102064])

In [161]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=0.1).fit(X_train,y_train)
print('训练分数:%f'%(ridge.score(X_train,y_train)))
print('测试分数:%f'%(ridge.score(X_test,y_test)))
print(ridge.coef_)

训练分数:0.595147
测试分数:0.597383
[[ 8557.96335997 25009.24056903  1304.73249106 21880.57877712
  37524.26952265  1853.55530359  1359.44202991   985.53732386
   4097.86608214   -52.96403764  6794.87364441 11804.22807555]]

In [163]:
from sklearn.linear_model import Lasso
ridge = Lasso(alpha=0.001).fit(X_train,y_train)
print('训练分数:%f'%(ridge.score(X_train,y_train)))
print('测试分数:%f'%(ridge.score(X_test,y_test)))
print(ridge.coef_)

训练分数:0.595147
测试分数:0.597378
[ 8517.05461513 24966.91996042  1263.95640692 21839.83665295
 37483.7586972   1844.73882531  1351.40200029   981.30462542
  4091.06774698   -52.82197384  6794.79490271 11807.29229547]

In [139]:
from sklearn import linear_model
import mglearn
X,y = mglearn.datasets.load_extended_boston()
X,y

(array([[0.00000000e+00, 1.80000000e-01, 6.78152493e-02, ...,
         1.00000000e+00, 8.96799117e-02, 8.04248656e-03],
        [2.35922539e-04, 0.00000000e+00, 2.42302053e-01, ...,
         1.00000000e+00, 2.04470199e-01, 4.18080621e-02],
        [2.35697744e-04, 0.00000000e+00, 2.42302053e-01, ...,
         9.79579831e-01, 6.28144504e-02, 4.02790570e-03],
        ...,
        [6.11892474e-04, 0.00000000e+00, 4.20454545e-01, ...,
         1.00000000e+00, 1.07891832e-01, 1.16406475e-02],
        [1.16072990e-03, 0.00000000e+00, 4.20454545e-01, ...,
         9.82676920e-01, 1.29930407e-01, 1.71795127e-02],
        [4.61841693e-04, 0.00000000e+00, 4.20454545e-01, ...,
         1.00000000e+00, 1.69701987e-01, 2.87987643e-02]]),
 array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]))

In [140]:
from sklearn.model_selection import train_test_split#将矩阵随机划分为训练子集和测试子集
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1,test_size=0.3)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((354, 104), (152, 104), (354,), (152,))

In [141]:
from sklearn.linear_model import LinearRegression#调用sklearn中的线性回归
model = LinearRegression().fit(X_train,y_train)
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))#打分

0.931521626930734
0.8043803931143588

In [142]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=10).fit(X_train,y_train)
print('训练分数:%f'%(ridge.score(X_train,y_train)))
print('测试分数:%f'%(ridge.score(X_test,y_test)))
print(ridge.coef_)

训练分数:0.728146
测试分数:0.776546
[-7.71590869e-01  7.21654652e-01 -4.55670395e-01  5.10711039e-01
 -1.14870270e+00  3.79932663e+00 -2.37472378e-01 -2.30123489e+00
  9.92607928e-01 -7.12142788e-01 -2.15553638e+00  1.05084692e+00
 -4.29923298e+00 -5.61123824e-01  5.66939036e-04 -4.90509168e-01
  1.96871187e-01 -6.39474463e-01 -6.43298658e-01 -7.53326733e-01
 -8.21835664e-02 -7.93718142e-01 -7.16216456e-01 -6.39966314e-01
 -6.96641377e-01 -4.10769310e-01  1.35893942e+00 -2.81091314e-01
  6.99938819e-01  8.85817449e-02  1.89735332e+00 -5.77116501e-02
 -2.49822219e-01  1.00732684e-01 -3.13011651e-01 -3.39641613e-01
  7.76265406e-01 -5.86157711e-01  8.03845814e-01  2.29347359e-01
 -6.31968032e-01 -5.32480868e-01  4.79756514e-01 -1.18253897e+00
  6.07714182e-01  4.54233545e-01 -5.76809819e-01  2.25884379e-01
 -1.53805798e+00  5.10711039e-01 -9.64835352e-01  5.96661612e-01
  2.45288261e-01  1.83478472e-02  1.32048903e+00  1.07567766e+00
  5.02406560e-01  8.17215718e-01 -8.81233498e-01 -1.88656798e+00
 -7.19537521e-01 -1.07972058e+00 -6.43602041e-01 -6.92540884e-01
 -9.31724775e-01 -1.24438542e+00  2.80993204e-02 -1.81635622e+00
  6.19503477e+00  6.43185399e-01  6.73543227e-01 -1.50828513e+00
 -1.78399208e+00 -1.07838174e+00  4.83671700e+00 -3.11993809e+00
  6.52308660e-01 -1.83543601e+00  7.29606887e-01 -9.93755919e-02
 -1.52178791e+00  4.85294317e-01 -2.83371251e+00 -1.03895060e+00
 -6.77436411e-01 -1.35843284e+00 -1.74441282e+00 -2.00781401e+00
 -1.52188380e+00  1.01914487e+00  7.73342457e-01  5.01486302e-01
  1.25547135e+00 -1.73153935e+00  3.82996378e-01 -3.72827245e-01
 -1.71502886e-01 -2.05782901e+00 -1.63237491e+00 -1.73629200e+00
 -2.33005375e+00  7.57202919e-01 -4.09565016e+00 -6.22596231e-02]

In [143]:
from sklearn.linear_model import Lasso
ridge = Lasso(alpha=0.005).fit(X_train,y_train)
print('训练分数:%f'%(ridge.score(X_train,y_train)))
print('测试分数:%f'%(ridge.score(X_test,y_test)))
print(ridge.coef_)

训练分数:0.881716
测试分数:0.916198
[ -0.          -1.23035888   0.           9.18919646   0.
  42.14218389   0.         -15.42085968  11.94738879   0.
   0.           4.79491073  -0.          -0.          -0.
  -0.           0.          -0.          -0.          -0.
  -0.         -11.48537564  -0.          -0.          -1.71796899
  -0.           2.61381675  -0.           0.          -0.
   0.          -0.          -0.           0.           0.
   0.          -0.          -0.           7.86061398   3.67076555
   0.           0.           7.08410577  -0.78326579   0.
   1.75311961  -9.93631662   0.         -19.46946571   0.21069749
 -14.33268933 -13.65693844   0.51588471  -0.           0.
  11.40823018  -0.           0.          -1.57804574  -0.
  -0.          -2.1456921   -0.         -10.6656976   -0.
  -0.40896414   0.          -0.          14.51448429  -9.11437364
   0.         -15.63832039 -23.5426289  -14.73864439   0.
  -9.14471605   0.           0.           7.45124563   0.
  -0.           0.         -11.21559584   6.95144664  -5.99734076
  -0.           0.          -0.           0.          -0.
   0.           9.31065539   0.         -16.05920914   0.
  12.22915799   0.         -10.32878604   0.32845096   0.
   0.           0.          -6.84660896  29.88031327]

C:\Users\86427\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 306.80555134337465, tolerance: 2.8740928389830507
  positive)